/* #home-intro{
    text-align: center;
    /* border: 3px;
    border-color: black;
    border-style: solid; 

    border: 3px solid black;
} */
 #intro{
    text-align: center;
    border: 3px solid blue;
    
 }
 #intro:hover{
    background-color: rgb(229, 174, 102);
 }

 #p1{
    color: blueviolet;
 }
 #p2{
    color:brown;
 }

 #nav{
    text-align: center;
    background-color: brown;
    height:  25px;
    padding-top: 5px;
 }
 #nav a{
    margin: 0px  5px;
    /* margin:  y-axis x-axis */
    text-decoration: none;
    color: white;
    
 }